@import '#build/ui.css';
@import './keyframes.css';
@source './components';

@variant light (&:where(.light, .light *));
@variant dark (&:where(.dark, .dark *));

@layer base {
  /* Chromium applies an `outline-offset` on focused links, reset it so focus outlines hug elements consistently */
  a:focus-visible {
    outline-offset: 0;
  }
}

@layer theme {
  :root, :host {
    --ui-header-height: 4rem;
    --ui-radius: 0.25rem;
    --ui-container: 80rem;

    --ui-ease-out: cubic-bezier(0.23, 1, 0.32, 1);
    --ui-ease-drawer: cubic-bezier(0.32, 0.72, 0, 1);
  }

  :root, :host, .light {
    --ui-text-dimmed: var(--ui-color-neutral-400);
    --ui-text-muted: var(--ui-color-neutral-500);
    --ui-text-toned: var(--ui-color-neutral-600);
    --ui-text: var(--ui-color-neutral-700);
    --ui-text-highlighted: var(--ui-color-neutral-900);
    --ui-text-inverted: white;

    --ui-bg: white;
    --ui-bg-muted: var(--ui-color-neutral-50);
    --ui-bg-elevated: var(--ui-color-neutral-100);
    --ui-bg-accented: var(--ui-color-neutral-200);
    --ui-bg-inverted: var(--ui-color-neutral-900);

    --ui-border: var(--ui-color-neutral-200);
    --ui-border-muted: var(--ui-color-neutral-200);
    --ui-border-accented: var(--ui-color-neutral-300);
    --ui-border-inverted: var(--ui-color-neutral-900);
  }

  .dark {
    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: white;
    --ui-text-inverted: var(--ui-color-neutral-900);

    --ui-bg: var(--ui-color-neutral-900);
    --ui-bg-muted: var(--ui-color-neutral-800);
    --ui-bg-elevated: var(--ui-color-neutral-800);
    --ui-bg-accented: var(--ui-color-neutral-700);
    --ui-bg-inverted: white;

    --ui-border: var(--ui-color-neutral-800);
    --ui-border-muted: var(--ui-color-neutral-700);
    --ui-border-accented: var(--ui-color-neutral-700);
    --ui-border-inverted: white;
  }
}
