.dark {
  color-scheme: dark;
}

a:focus-visible {
  @apply outline-primary-500 dark:outline-primary-400;
}

::selection { @apply bg-primary-500/40 dark:bg-primary-400/40; }

select {
  background-image: none;
}
