name: ci-v3

on:
  push:
    branches:
      - v3
  pull_request:
    branches:
      - v3

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read
      pull-requests: read

    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest, windows-latest
        node: [20]

    env:
      NUXT_GITHUB_TOKEN: ${{ secrets.NUXT_GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Prepare
        run: pnpm run dev:prepare

      - name: Devtools prepare
        run: pnpm run devtools:prepare

      - name: Lint
        run: pnpm run lint

      - name: Typecheck
        run: pnpm run typecheck

      - name: Docs typecheck
        run: pnpm run docs:typecheck
        continue-on-error: true

      - name: Devtools typecheck
        run: pnpm run devtools:typecheck
        continue-on-error: true

      - name: Test
        run: pnpm run test

      - name: Build
        run: pnpm run build

      - name: Publish
        run: pnpx pkg-pr-new publish --compact --no-template --pnpm
