name: docs

on:
  push:
    branches:
      - v3
  pull_request:
    branches:
      - v3

jobs:
  docs:
    name: "NuxtHub"
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read
      pull-requests: read

    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest, windows-latest
        node: [22]

    environment:
      name: ${{ github.ref == 'refs/heads/v3' && 'production' || 'preview' }}
      url: ${{ steps.deploy.outputs.deployment-url }}

    env:
      NUXT_GITHUB_TOKEN: ${{ secrets.NUXT_GITHUB_TOKEN }}
      NUXT_UI_PRO_LICENSE: ${{ secrets.NUXT_UI_PRO_LICENSE }}

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Prepare build
        run: pnpm run dev:prepare

      - name: Build application
        run: pnpm run docs:build

      - name: Deploy to NuxtHub
        uses: nuxt-hub/action@v1
        id: deploy
        with:
          project-key: ui-7eg3
          directory: docs/dist
